NodeRed/Node Red Flows.json
[
    {
        "id": "b93d31edfbe7bb03",
        "type": "tab",
        "label": "dashboard_skripsi",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3eb314a1a7abd4e1",
        "type": "group",
        "z": "b93d31edfbe7bb03",
        "name": "Main Menu",
        "style": {
            "stroke": "#0070c0",
            "label": true
        },
        "nodes": [
            "27be0b032987b46a",
            "365299152e17ac16",
            "496d58fce5784c6c",
            "cd0d047d6c94aa6e",
            "37110311c68ca1c0",
            "c9f025aef2728da1",
            "a87278a9f7273067",
            "ad675ce91ad07e66"
        ],
        "x": 14,
        "y": 99,
        "w": 1032,
        "h": 242
    },
    {
        "id": "7e3dd2f5ff6e155d",
        "type": "function",
        "z": "b93d31edfbe7bb03",
        "name": "ph",
        "func": "const data = msg.payload;\nmsg.payload = data.ph;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 560,
        "wires": [
            [
                "85847ef04dae07ee",
                "8b738f509919a4b2"
            ]
        ]
    },
    {
        "id": "e8deb064ff6da342",
        "type": "function",
        "z": "b93d31edfbe7bb03",
        "name": "temp",
        "func": "const data = msg.payload;\nmsg.payload = data.water_temp;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 480,
        "wires": [
            [
                "078c8e11c1a52839",
                "2a5ae6d9d89d27cd"
            ]
        ]
    },
    {
        "id": "d91e68657294256b",
        "type": "function",
        "z": "b93d31edfbe7bb03",
        "name": "ec",
        "func": "const data = msg.payload;\nmsg.payload = data.ec;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 640,
        "wires": [
            [
                "697c30d25471ad6d",
                "2c76953e24a8035e"
            ]
        ]
    },
    {
        "id": "a9eba76a46dfd437",
        "type": "mqtt in",
        "z": "b93d31edfbe7bb03",
        "name": "",
        "topic": "skripsi/iot_greenhouse/scn/json",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "4e3c698d6efaab10",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 520,
        "wires": [
            [
                "7e3dd2f5ff6e155d",
                "e8deb064ff6da342",
                "d91e68657294256b",
                "75c4b9c42a35f9f4",
                "769a850d84a1159e",
                "51a3b6cc7d37fa0c"
            ]
        ]
    },
    {
        "id": "1b35bd30d3431e68",
        "type": "http request",
        "z": "b93d31edfbe7bb03",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "localhost:5000/api/csv/{{msg.payload}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "",
                "valueType": "other",
                "valueValue": ""
            }
        ],
        "x": 1410,
        "y": 240,
        "wires": [
            [
                "03fb3ed8ebeb562e"
            ]
        ]
    },
    {
        "id": "771d9276405fb2e4",
        "type": "debug",
        "z": "b93d31edfbe7bb03",
        "name": "debug 20",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 120,
        "y": 700,
        "wires": []
    },
    {
        "id": "b5bc4a2304d514fb",
        "type": "ui_button",
        "z": "b93d31edfbe7bb03",
        "name": "",
        "group": "8293a78a191dd3d7",
        "order": 5,
        "width": 8,
        "height": 1,
        "passthru": false,
        "label": "Edit Parameter",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-pencil-square-o",
        "payload": "{\"group\":{\"hide\":[\"Greenhouse_Display_Param\"],\"show\":[\"Greenhouse_Edit_Param\"]}}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 760,
        "y": 540,
        "wires": [
            [
                "fe21a69ac136f32a",
                "474b53575b54817b"
            ]
        ]
    },
    {
        "id": "474b53575b54817b",
        "type": "http request",
        "z": "b93d31edfbe7bb03",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://dashboard.greenhouse-project.my.id/api/PlantParam",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 970,
        "y": 520,
        "wires": [
            [
                "361efad07187aa1e"
            ]
        ]
    },
    {
        "id": "c1a6b4bd8c88c283",
        "type": "ui_button",
        "z": "b93d31edfbe7bb03",
        "name": "",
        "group": "dd116dcad9e28d42",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Back",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "dsa",
        "payload": "{\"group\":{\"hide\":[\"Greenhouse_Edit_Param\"],\"show\":[\"Greenhouse_Display_Param\"]}}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 730,
        "y": 600,
        "wires": [
            [
                "f02466f152f7be07"
            ]
        ]
    },
    {
        "id": "2b5e1acb18b5a8d3",
        "type": "ui_button",
        "z": "b93d31edfbe7bb03",
        "name": "",
        "group": "dd116dcad9e28d42",
        "order": 3,
        "width": 8,
        "height": 1,
        "passthru": false,
        "label": "Save Parameter",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "mi-videogame_asset",
        "payload": "save",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1140,
        "y": 600,
        "wires": [
            [
                "b429ccb745d89ead"
            ]
        ]
    },
    {
        "id": "fe21a69ac136f32a",
        "type": "ui_ui_control",
        "z": "b93d31edfbe7bb03",
        "name": "",
        "events": "all",
        "x": 940,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "f02466f152f7be07",
        "type": "ui_ui_control",
        "z": "b93d31edfbe7bb03",
        "name": "",
        "events": "all",
        "x": 920,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "361efad07187aa1e",
        "type": "function",
        "z": "b93d31edfbe7bb03",
        "name": "function 5",
        "func": "let arr = msg.payload\nlet arrJs = [];\n\n\nfor (let i = 0; i < arr.length; i++) {\n    let tempJs = {};\n    tempJs[arr[i].name] = arr[i];\n    arrJs[i] = tempJs;\n}\n\nmsg.payload = 1;\nmsg.options = arrJs;\n\nreturn msg\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1140,
        "y": 520,
        "wires": [
            [
                "0b24c204bed7a825"
            ]
        ]
    },
    {
        "id": "0b24c204bed7a825",
        "type": "ui_dropdown",
        "z": "b93d31edfbe7bb03",
        "name": "",
        "label": "Jenis Tanaman",
        "tooltip": "",
        "place": "Select option",
        "group": "dd116dcad9e28d42",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "",
                "value": "",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 1140,
        "y": 560,
        "wires": [
            [
                "bc89da5e4649e2ef",
                "4d392bdaf650cd75"
            ]
        ]
    },
    {
        "id": "cff57075f0b8b9c2",
        "type": "function",
        "z": "b93d31edfbe7bb03",
        "name": "function 6",
        "func": "context.data = context.data || {};\n\nswitch (msg.topic) {\n    case \"task1\":\n        context.data.task1 = msg.payload;\n        msg = null;\n        break\n    case \"task2\":\n        context.data.task2 = msg.payload;\n        msg = null;\n        break\n    default:\n        msg = null;\n        break\n}\n\nif (context.data.task1 != null && context.data.task2 == \"save\") {\n    var ratio = context.data.task1;\n    context.data = null;\n    return { payload: ratio }\n} else return msg\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1580,
        "y": 560,
        "wires": [
            [
                "ebbcfd5150b86eb3",
                "df9a4f4b6efb9e3f",
                "9b9046946e2d5433",
                "af1748ad743e32b5"
            ]
        ]
    },
    {
        "id": "d09920563d669a80",
        "type": "ui_list",
        "z": "b93d31edfbe7bb03",
        "group": "dd116dcad9e28d42",
        "name": "",
        "order": 2,
        "width": 8,
        "height": 6,
        "lineType": "two",
        "actionType": "none",
        "allowHTML": false,
        "outputs": 0,
        "topic": "",
        "x": 1570,
        "y": 600,
        "wires": []
    },
    {
        "id": "4d392bdaf650cd75",
        "type": "function",
        "z": "b93d31edfbe7bb03",
        "name": "function 7",
        "func": "let arr =  msg.payload;\nlet listVal = [{}];\nconst key = Object.keys(arr);\n\n\nfor (let i = 1; i < key.length; i++) {\n    listVal[i-1] = { \"title\": key[i], \"description\" : arr[key[i]]};\n}\n\nmsg.payload = listVal;\n\nreturn msg\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1380,
        "y": 680,
        "wires": [
            [
                "cc3a7b8609995aa6",
                "d09920563d669a80"
            ]
        ]
    },
    {
        "id": "b429ccb745d89ead",
        "type": "function",
        "z": "b93d31edfbe7bb03",
        "name": "function 8",
        "func": "var arr = msg.payload;\n\nmsg.payload = arr;\nmsg.topic = \"task2\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1380,
        "y": 600,
        "wires": [
            [
                "cff57075f0b8b9c2"
            ]
        ]
    },
    {
        "id": "cc3a7b8609995aa6",
        "type": "debug",
        "z": "b93d31edfbe7bb03",
        "name": "debug 12",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1620,
        "y": 660,
        "wires": []
    },
    {
        "id": "bc89da5e4649e2ef",
        "type": "function",
        "z": "b93d31edfbe7bb03",
        "name": "function 9",
        "func": "var arr = msg.payload;\n\nmsg.payload = arr;\nmsg.topic = \"task1\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1380,
        "y": 560,
        "wires": [
            [
                "cff57075f0b8b9c2"
            ]
        ]
    },
    {
        "id": "62958e57e86dd502",
        "type": "ui_toast",
        "z": "b93d31edfbe7bb03",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1970,
        "y": 480,
        "wires": []
    },
    {
        "id": "677dfe6a358b3de9",
        "type": "ui_list",
        "z": "b93d31edfbe7bb03",
        "group": "8293a78a191dd3d7",
        "name": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "lineType": "two",
        "actionType": "none",
        "allowHTML": false,
        "outputs": 0,
        "topic": "",
        "x": 1930,
        "y": 520,
        "wires": []
    },
    {
        "id": "af1748ad743e32b5",
        "type": "debug",
        "z": "b93d31edfbe7bb03",
        "name": "debug 14",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1760,
        "y": 620,
        "wires": []
    },
    {
        "id": "9b9046946e2d5433",
        "type": "function",
        "z": "b93d31edfbe7bb03",
        "name": "function 10",
        "func": "let arr =  msg.payload;\nlet listVal = [{}];\nconst key = Object.keys(arr);\n\n\nfor (let i = 1; i < key.length; i++) {\n    listVal[i-1] = { \"title\": key[i], \"description\" : arr[key[i]]};\n}\n\nmsg.payload = listVal;\n\nreturn msg\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1770,
        "y": 520,
        "wires": [
            [
                "677dfe6a358b3de9"
            ]
        ]
    },
    {
        "id": "df9a4f4b6efb9e3f",
        "type": "mqtt out",
        "z": "b93d31edfbe7bb03",
        "name": "send params ",
        "topic": "skripsi/iot_greenhouse/params",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "4e3c698d6efaab10",
        "x": 1770,
        "y": 560,
        "wires": []
    },
    {
        "id": "ebbcfd5150b86eb3",
        "type": "function",
        "z": "b93d31edfbe7bb03",
        "name": "function 21",
        "func": "const name = msg.payload.name;\nmsg.payload = \"param set to \" + name;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1770,
        "y": 480,
        "wires": [
            [
                "62958e57e86dd502"
            ]
        ]
    },
    {
        "id": "a5129688e44d59e4",
        "type": "ui_button",
        "z": "b93d31edfbe7bb03",
        "name": "",
        "group": "8b40c4a4b3c59af3",
        "order": 12,
        "width": 25,
        "height": 1,
        "passthru": false,
        "label": "Back to main menu",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-arrow-left",
        "payload": "",
        "payloadType": "str",
        "topic": "Main",
        "topicType": "str",
        "x": 690,
        "y": 880,
        "wires": [
            [
                "9b17b3c124275671"
            ]
        ]
    },
    {
        "id": "9b17b3c124275671",
        "type": "function",
        "z": "b93d31edfbe7bb03",
        "name": "function 26",
        "func": "msg.payload = msg.topic;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 880,
        "wires": [
            [
                "82f42bf2824b69b4"
            ]
        ]
    },
    {
        "id": "82f42bf2824b69b4",
        "type": "ui_ui_control",
        "z": "b93d31edfbe7bb03",
        "name": "",
        "events": "all",
        "x": 1060,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "ef60a6e32df1ce16",
        "type": "ui_text",
        "z": "b93d31edfbe7bb03",
        "group": "8b40c4a4b3c59af3",
        "order": 7,
        "width": 5,
        "height": 1,
        "name": "",
        "label": "Son Temp",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 720,
        "y": 3960,
        "wires": []
    },
    {
        "id": "f48ae6624b44f8df",
        "type": "ui_chart",
        "z": "b93d31edfbe7bb03",
        "name": "",
        "group": "8b40c4a4b3c59af3",
        "order": 2,
        "width": 5,
        "height": 4,
        "label": "Son Temp",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 720,
        "y": 3920,
        "wires": [
            []
        ]
    },
    {
        "id": "27be0b032987b46a",
        "type": "ui_ui_control",
        "z": "b93d31edfbe7bb03",
        "g": "3eb314a1a7abd4e1",
        "name": "",
        "events": "all",
        "x": 960,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "365299152e17ac16",
        "type": "function",
        "z": "b93d31edfbe7bb03",
        "g": "3eb314a1a7abd4e1",
        "name": "function 23",
        "func": "msg.payload = {\n    \"group\": {\n        \"hide\": [\n            \"Greenhouse_Main\",\n            \"Greenhouse_Edit_Param\"\n        ],\n            \"show\": [\n                \"Greenhouse_Greenhouse_A\",\n                \"Greenhouse_Display_Param\"\n            ]\n    }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 200,
        "wires": [
            [
                "27be0b032987b46a"
            ]
        ]
    },
    {
        "id": "496d58fce5784c6c",
        "type": "ui_button",
        "z": "b93d31edfbe7bb03",
        "g": "3eb314a1a7abd4e1",
        "name": "",
        "group": "7a2f2e41cd4506d7",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Data Hidroponik",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "Greenhouse",
        "topicType": "str",
        "x": 120,
        "y": 140,
        "wires": [
            [
                "c9f025aef2728da1",
                "5a2b119070d54989",
                "c8f558f0a7b8f237"
            ]
        ]
    },
    {
        "id": "cd0d047d6c94aa6e",
        "type": "ui_ui_control",
        "z": "b93d31edfbe7bb03",
        "g": "3eb314a1a7abd4e1",
        "name": "",
        "events": "all",
        "x": 560,
        "y": 200,
        "wires": [
            [
                "365299152e17ac16"
            ]
        ]
    },
    {
        "id": "37110311c68ca1c0",
        "type": "ui_button",
        "z": "b93d31edfbe7bb03",
        "g": "3eb314a1a7abd4e1",
        "name": "",
        "group": "7a2f2e41cd4506d7",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Lora",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "Lora",
        "topicType": "str",
        "x": 130,
        "y": 260,
        "wires": [
            [
                "c9f025aef2728da1"
            ]
        ]
    },
    {
        "id": "c9f025aef2728da1",
        "type": "function",
        "z": "b93d31edfbe7bb03",
        "g": "3eb314a1a7abd4e1",
        "name": "function 22",
        "func": "msg.payload = msg.topic;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 200,
        "wires": [
            [
                "cd0d047d6c94aa6e"
            ]
        ]
    },
    {
        "id": "03fb3ed8ebeb562e",
        "type": "csv",
        "z": "b93d31edfbe7bb03",
        "name": "",
        "sep": ",",
        "hdrin": "",
        "hdrout": "none",
        "multi": "one",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 1590,
        "y": 240,
        "wires": [
            [
                "0de68cefe0d03ac0"
            ]
        ]
    },
    {
        "id": "0de68cefe0d03ac0",
        "type": "file",
        "z": "b93d31edfbe7bb03",
        "name": "",
        "filename": "data.csv",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1760,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "ae816ab4d61a6242",
        "type": "ui_template",
        "z": "b93d31edfbe7bb03",
        "group": "",
        "name": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "format": "<a href=\"http://localhost:5000/api/csv\" download=\"data.csv\">Download</a>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 1240,
        "y": 240,
        "wires": [
            [
                "1b35bd30d3431e68"
            ]
        ]
    },
    {
        "id": "587ea2dccd2d5a8f",
        "type": "ui_chart",
        "z": "b93d31edfbe7bb03",
        "name": "",
        "group": "8b40c4a4b3c59af3",
        "order": 3,
        "width": 5,
        "height": 4,
        "label": "Son Humi",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 720,
        "y": 3840,
        "wires": [
            []
        ]
    },
    {
        "id": "39810b7c6e95ac68",
        "type": "ui_text",
        "z": "b93d31edfbe7bb03",
        "group": "8b40c4a4b3c59af3",
        "order": 8,
        "width": 5,
        "height": 1,
        "name": "",
        "label": "Son Humi",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 720,
        "y": 3880,
        "wires": []
    },
    {
        "id": "0c5569a4710f9e02",
        "type": "ui_chart",
        "z": "b93d31edfbe7bb03",
        "name": "",
        "group": "8b40c4a4b3c59af3",
        "order": 4,
        "width": 5,
        "height": 4,
        "label": "Son Soil",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 720,
        "y": 3760,
        "wires": [
            []
        ]
    },
    {
        "id": "9d3ec8c21a2e7d5e",
        "type": "ui_text",
        "z": "b93d31edfbe7bb03",
        "group": "8b40c4a4b3c59af3",
        "order": 9,
        "width": 5,
        "height": 1,
        "name": "",
        "label": "Son Soil",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 720,
        "y": 3800,
        "wires": []
    },
    {
        "id": "7fd4c2cac585b357",
        "type": "ui_chart",
        "z": "b93d31edfbe7bb03",
        "name": "",
        "group": "8b40c4a4b3c59af3",
        "order": 5,
        "width": 5,
        "height": 4,
        "label": "Son Count",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 730,
        "y": 4000,
        "wires": [
            []
        ]
    },
    {
        "id": "13597b7e8a9fc77d",
        "type": "ui_text",
        "z": "b93d31edfbe7bb03",
        "group": "8b40c4a4b3c59af3",
        "order": 10,
        "width": 5,
        "height": 1,
        "name": "",
        "label": "Son Count",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 730,
        "y": 4040,
        "wires": []
    },
    {
        "id": "b0b22f90bbd7a561",
        "type": "ui_chart",
        "z": "b93d31edfbe7bb03",
        "name": "",
        "group": "8b40c4a4b3c59af3",
        "order": 6,
        "width": 5,
        "height": 4,
        "label": "Son Time",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 720,
        "y": 4080,
        "wires": [
            []
        ]
    },
    {
        "id": "d58732c852cc3f94",
        "type": "ui_text",
        "z": "b93d31edfbe7bb03",
        "group": "8b40c4a4b3c59af3",
        "order": 11,
        "width": 5,
        "height": 1,
        "name": "",
        "label": "Son Time",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 720,
        "y": 4120,
        "wires": []
    },
    {
        "id": "a5eec14ebd7d75f2",
        "type": "mqtt in",
        "z": "b93d31edfbe7bb03",
        "name": "",
        "topic": "skripsi/iot_greenhouse/son/json",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "4e3c698d6efaab10",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 3940,
        "wires": [
            [
                "dd07cbb2fa4ee860",
                "6436aa039c1a70f9",
                "1bb34bae59a77ec9",
                "d43b1e6b3f8d55a1",
                "cf20b0a625a146e3",
                "a2b169545eb38f17"
            ]
        ]
    },
    {
        "id": "a87278a9f7273067",
        "type": "ui_button",
        "z": "b93d31edfbe7bb03",
        "g": "3eb314a1a7abd4e1",
        "name": "",
        "group": "7a2f2e41cd4506d7",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Setup Tanam",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "Setup Tanam",
        "topicType": "str",
        "x": 110,
        "y": 200,
        "wires": [
            [
                "c9f025aef2728da1"
            ]
        ]
    },
    {
        "id": "d37841f9f05faf84",
        "type": "http request",
        "z": "b93d31edfbe7bb03",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "localhost:5000/api/csv/{{msg.payload}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "",
                "valueType": "other",
                "valueValue": ""
            }
        ],
        "x": 330,
        "y": 4280,
        "wires": [
            [
                "6e3d08688f0f65d1"
            ]
        ]
    },
    {
        "id": "6e3d08688f0f65d1",
        "type": "csv",
        "z": "b93d31edfbe7bb03",
        "name": "",
        "sep": ",",
        "hdrin": "",
        "hdrout": "none",
        "multi": "one",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 510,
        "y": 4280,
        "wires": [
            [
                "07cddb0723bc93a2"
            ]
        ]
    },
    {
        "id": "07cddb0723bc93a2",
        "type": "file",
        "z": "b93d31edfbe7bb03",
        "name": "",
        "filename": "data.csv",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 680,
        "y": 4280,
        "wires": [
            []
        ]
    },
    {
        "id": "91d67d9b09a22be8",
        "type": "ui_template",
        "z": "b93d31edfbe7bb03",
        "group": "8b40c4a4b3c59af3",
        "name": "",
        "order": 11,
        "width": 0,
        "height": 0,
        "format": "<a href=\"https://dashboard.greenhouse-project.my.id/api/lora\" download=\"data.csv\">Download All Data Lora</a>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 160,
        "y": 4280,
        "wires": [
            [
                "d37841f9f05faf84"
            ]
        ]
    },
    {
        "id": "ca11b0879fd732bc",
        "type": "ui_date_picker",
        "z": "b93d31edfbe7bb03",
        "name": "",
        "label": "Tanggal Tanam",
        "group": "abcdb8ae7ffd1a6b",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "tanam",
        "topicType": "str",
        "className": "",
        "x": 300,
        "y": 1840,
        "wires": [
            [
                "973daf86b02088d3"
            ]
        ]
    },
    {
        "id": "a57e049f287d0e31",
        "type": "ui_date_picker",
        "z": "b93d31edfbe7bb03",
        "name": "",
        "label": "Tanggal Semai",
        "group": "abcdb8ae7ffd1a6b",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "semai",
        "topicType": "str",
        "className": "",
        "x": 300,
        "y": 1800,
        "wires": [
            [
                "973daf86b02088d3"
            ]
        ]
    },
    {
        "id": "973daf86b02088d3",
        "type": "join",
        "z": "b93d31edfbe7bb03",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "10",
        "count": "3",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 510,
        "y": 1860,
        "wires": [
            [
                "1f10da899ef046b3"
            ]
        ]
    },
    {
        "id": "31af1c5b670a9851",
        "type": "inject",
        "z": "b93d31edfbe7bb03",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 1800,
        "wires": [
            [
                "a57e049f287d0e31"
            ]
        ]
    },
    {
        "id": "1f210f86fb82ddb5",
        "type": "inject",
        "z": "b93d31edfbe7bb03",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 1840,
        "wires": [
            [
                "ca11b0879fd732bc"
            ]
        ]
    },
    {
        "id": "3965597814ae578d",
        "type": "http request",
        "z": "b93d31edfbe7bb03",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://dashboard.greenhouse-project.my.id/api/dataTanam",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1030,
        "y": 1880,
        "wires": [
            [
                "b3c50f7a4a83ae83",
                "f8a06cecda8e461c",
                "c1b10a391ffae0c4"
            ]
        ]
    },
    {
        "id": "b3c50f7a4a83ae83",
        "type": "debug",
        "z": "b93d31edfbe7bb03",
        "name": "debug 24",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1220,
        "y": 1920,
        "wires": []
    },
    {
        "id": "c1b10a391ffae0c4",
        "type": "ui_button",
        "z": "b93d31edfbe7bb03",
        "name": "",
        "group": "c6389b586e2679b5",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "SHOW DATA",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 610,
        "y": 2140,
        "wires": [
            [
                "2265e680d6285be9"
            ]
        ]
    },
    {
        "id": "2265e680d6285be9",
        "type": "http request",
        "z": "b93d31edfbe7bb03",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://dashboard.greenhouse-project.my.id/api/dataTanam/0",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 290,
        "y": 2260,
        "wires": [
            [
                "1053335b747151fd",
                "808a271ea5054b9e",
                "262f202ea839cbff"
            ]
        ]
    },
    {
        "id": "9f1ab4228da5fcc0",
        "type": "ui_list",
        "z": "b93d31edfbe7bb03",
        "group": "c6389b586e2679b5",
        "name": "",
        "order": 1,
        "width": 8,
        "height": 7,
        "lineType": "two",
        "actionType": "none",
        "allowHTML": false,
        "outputs": 0,
        "topic": "",
        "x": 810,
        "y": 2220,
        "wires": []
    },
    {
        "id": "9d0f357e1227c5d4",
        "type": "function",
        "z": "b93d31edfbe7bb03",
        "name": "function 29",
        "func": "let arr =  msg.payload;\nlet listVal = [{}];\nconst key = Object.keys(arr);\n\n\nfor (let i = 0; i < key.length; i++) {\n    listVal[i] = { \"title\": key[i], \"description\" : arr[key[i]]};\n}\n\nmsg.payload = listVal;\n\nreturn msg\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 2220,
        "wires": [
            [
                "9f1ab4228da5fcc0"
            ]
        ]
    },
    {
        "id": "88be331ae46094bd",
        "type": "ui_button",
        "z": "b93d31edfbe7bb03",
        "name": "",
        "group": "abcdb8ae7ffd1a6b",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "{{topic}}",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{background}}",
        "className": "",
        "icon": "{{myicon}}",
        "payload": "open",
        "payloadType": "str",
        "topic": "control",
        "topicType": "str",
        "x": 70,
        "y": 1900,
        "wires": [
            [
                "7ac3f7a61a5c0892"
            ]
        ]
    },
    {
        "id": "7ac3f7a61a5c0892",
        "type": "function",
        "z": "b93d31edfbe7bb03",
        "name": "button logic",
        "func": "let payload=msg.payload;\nlet state=global.get(\"statusTanam\");\n// if(msg.topic==\"init\")\n// {\n//     state = \"open\";\n//     msg.payload = \"close\";\n//     msg.background = \"red\";\n//     msg.label = \"Press to Start\";\n//     msg.myicon = \"fa-toggle-off\";\n//     msg.topic=\"control\";\n//     return msg;\n// }\n//toggle\nif (typeof state == \"undefined\" || state==1)\n{\nstate=0;\nmsg.payload= \"close\";\nmsg.background = \"green\";\nmsg.label = \"START\";\nmsg.topic = \"status\";\nmsg.myicon = \"fa-play\";\n}\nelse{\nstate = 1;\nmsg.payload= \"open\";\nmsg.background = \"red\";\nmsg.label = \"END\";\nmsg.topic = \"status\";\nmsg.myicon=\"fa-stop\";\n}\nglobal.set(\"statusTanam\",state);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 1900,
        "wires": [
            [
                "bffe37e5276a6633",
                "2c14508078afb5c8"
            ]
        ]
    },
    {
        "id": "bffe37e5276a6633",
        "type": "gate",
        "z": "b93d31edfbe7bb03",
        "name": "",
        "controlTopic": "control",
        "defaultState": "closed",
        "openCmd": "open",
        "closeCmd": "close",
        "toggleCmd": "toggle",
        "defaultCmd": "default",
        "statusCmd": "status",
        "persist": false,
        "storeName": "memoryOnly",
        "x": 310,
        "y": 2000,
        "wires": [
            []
        ]
    },
    {
        "id": "2c14508078afb5c8",
        "type": "change",
        "z": "b93d31edfbe7bb03",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "label",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 130,
        "y": 2000,
        "wires": [
            [
                "88be331ae46094bd",
                "3c2acc48b8e2aad5"
            ]
        ]
    },
    {
        "id": "3c2acc48b8e2aad5",
        "type": "switch",
        "z": "b93d31edfbe7bb03",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "open",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "close",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 450,
        "y": 1960,
        "wires": [
            [
                "973daf86b02088d3"
            ],
            [
                "dd5061f31c8814b5"
            ]
        ]
    },
    {
        "id": "605cd084bf99fdd6",
        "type": "function",
        "z": "b93d31edfbe7bb03",
        "name": "SET GLOBAL VARIABLE",
        "func": "global.set(\"idDataTanam\", msg.payload.id);\nglobal.set(\"statusTanam\", msg.payload.status);",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 2260,
        "wires": [
            []
        ]
    },
    {
        "id": "dd5061f31c8814b5",
        "type": "function",
        "z": "b93d31edfbe7bb03",
        "name": "function 31",
        "func": "const status = global.get(\"idDataTanam\");\nmsg.payload = status;\nmsg.topic = \"Akhiri Penanaman\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 1940,
        "wires": [
            [
                "a606e233231746c1"
            ]
        ]
    },
    {
        "id": "376b6558b424c57e",
        "type": "http request",
        "z": "b93d31edfbe7bb03",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://dashboard.greenhouse-project.my.id/api/dataTanamUpdate/{{{payload}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1190,
        "y": 1980,
        "wires": [
            [
                "a28c340eb72d8283",
                "33c1c60b3214173f"
            ]
        ]
    },
    {
        "id": "a28c340eb72d8283",
        "type": "debug",
        "z": "b93d31edfbe7bb03",
        "name": "debug 62",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1380,
        "y": 1980,
        "wires": []
    },
    {
        "id": "1053335b747151fd",
        "type": "function",
        "z": "b93d31edfbe7bb03",
        "name": "function 32",
        "func": "var data = msg.payload[0];\n\nmsg.payload = data\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 2260,
        "wires": [
            [
                "605cd084bf99fdd6"
            ]
        ]
    },
    {
        "id": "f8a06cecda8e461c",
        "type": "ui_toast",
        "z": "b93d31edfbe7bb03",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1260,
        "y": 1860,
        "wires": []
    },
    {
        "id": "a606e233231746c1",
        "type": "ui_toast",
        "z": "b93d31edfbe7bb03",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "Yes",
        "cancel": "Cancel",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "Akhiri Penanaman",
        "x": 830,
        "y": 1940,
        "wires": [
            [
                "2fdff3f60464af8a",
                "39a3e703ce9240d0"
            ]
        ]
    },
    {
        "id": "2fdff3f60464af8a",
        "type": "function",
        "z": "b93d31edfbe7bb03",
        "name": "function 33",
        "func": "const data = msg.payload;\n\nif(data == \"Yes\"){\n    const status = global.get(\"idDataTanam\");\n    msg.payload = status;\n    return msg\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1010,
        "y": 2020,
        "wires": [
            [
                "7652bdcf3409fc84",
                "376b6558b424c57e"
            ]
        ]
    },
    {
        "id": "dd07cbb2fa4ee860",
        "type": "function",
        "z": "b93d31edfbe7bb03",
        "name": "son_soil",
        "func": "const data = msg.payload;\nmsg.payload = data.son_soil;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 3780,
        "wires": [
            [
                "9d3ec8c21a2e7d5e",
                "0c5569a4710f9e02"
            ]
        ]
    },
    {
        "id": "6436aa039c1a70f9",
        "type": "function",
        "z": "b93d31edfbe7bb03",
        "name": "son_humi",
        "func": "const data = msg.payload;\nmsg.payload = data.son_humi;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 3860,
        "wires": [
            [
                "587ea2dccd2d5a8f",
                "39810b7c6e95ac68"
            ]
        ]
    },
    {
        "id": "1bb34bae59a77ec9",
        "type": "function",
        "z": "b93d31edfbe7bb03",
        "name": "son_temp",
        "func": "const data = msg.payload;\nmsg.payload = data.son_temp;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 3940,
        "wires": [
            [
                "f48ae6624b44f8df",
                "ef60a6e32df1ce16"
            ]
        ]
    },
    {
        "id": "d43b1e6b3f8d55a1",
        "type": "function",
        "z": "b93d31edfbe7bb03",
        "name": "son_count",
        "func": "const data = msg.payload;\nmsg.payload = data.son_count;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 4020,
        "wires": [
            [
                "7fd4c2cac585b357",
                "13597b7e8a9fc77d"
            ]
        ]
    },
    {
        "id": "cf20b0a625a146e3",
        "type": "function",
        "z": "b93d31edfbe7bb03",
        "name": "son_time",
        "func": "const data = msg.payload;\nmsg.payload = data.son_time;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 4100,
        "wires": [
            [
                "b0b22f90bbd7a561",
                "d58732c852cc3f94"
            ]
        ]
    },
    {
        "id": "33c1c60b3214173f",
        "type": "ui_toast",
        "z": "b93d31edfbe7bb03",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1300,
        "y": 2060,
        "wires": []
    },
    {
        "id": "39a3e703ce9240d0",
        "type": "function",
        "z": "b93d31edfbe7bb03",
        "name": "function 34",
        "func": "let payload = msg.payload;\nlet state = global.get(\"statusTanam\");\n\nif(payload == \"Cancel\") {\n    state = 1;\n    msg.payload = \"open\";\n    msg.background = \"red\";\n    msg.label = \"END\";\n    msg.topic = \"status\";\n    msg.myicon = \"fa-stop\";\n}\nglobal.set(\"statusTanam\", state);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 910,
        "y": 2100,
        "wires": [
            [
                "2c14508078afb5c8"
            ]
        ]
    },
    {
        "id": "99e4c026fb3ced2b",
        "type": "ui_toast",
        "z": "b93d31edfbe7bb03",
        "position": "top right",
        "displayTime": "6",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 650,
        "y": 2300,
        "wires": []
    },
    {
        "id": "808a271ea5054b9e",
        "type": "function",
        "z": "b93d31edfbe7bb03",
        "name": "function 35",
        "func": "const data = msg.payload[0];\nif(data == null){\n    msg.payload = \"Tidak Ada Data Penanaman\";\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 2300,
        "wires": [
            [
                "99e4c026fb3ced2b"
            ]
        ]
    },
    {
        "id": "99a9e34f5a4a95bb",
        "type": "mqtt out",
        "z": "b93d31edfbe7bb03",
        "name": "",
        "topic": "skripsi/iot_greenhouse/scn/flagPlant",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "4e3c698d6efaab10",
        "x": 890,
        "y": 1760,
        "wires": []
    },
    {
        "id": "6bed87857fdbaded",
        "type": "mqtt out",
        "z": "b93d31edfbe7bb03",
        "name": "",
        "topic": "skripsi/iot_greenhouse/scn/flagPlant",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "4e3c698d6efaab10",
        "x": 1250,
        "y": 2160,
        "wires": []
    },
    {
        "id": "078c8e11c1a52839",
        "type": "ui_text",
        "z": "b93d31edfbe7bb03",
        "group": "8352ff6457d9fdd1",
        "order": 7,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Water Temp",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 530,
        "y": 460,
        "wires": []
    },
    {
        "id": "2a5ae6d9d89d27cd",
        "type": "ui_chart",
        "z": "b93d31edfbe7bb03",
        "name": "",
        "group": "8352ff6457d9fdd1",
        "order": 2,
        "width": 6,
        "height": 4,
        "label": "Water Temp",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 530,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "4c69b2143ab685a0",
        "type": "ui_button",
        "z": "b93d31edfbe7bb03",
        "name": "",
        "group": "8352ff6457d9fdd1",
        "order": 16,
        "width": 12,
        "height": 1,
        "passthru": false,
        "label": "Back to main menu",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-arrow-left",
        "payload": "",
        "payloadType": "str",
        "topic": "Main",
        "topicType": "str",
        "x": 730,
        "y": 820,
        "wires": [
            [
                "09a4737aa08e3423"
            ]
        ]
    },
    {
        "id": "a5951c10d5269922",
        "type": "ui_ui_control",
        "z": "b93d31edfbe7bb03",
        "name": "",
        "events": "all",
        "x": 1100,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "85847ef04dae07ee",
        "type": "ui_text",
        "z": "b93d31edfbe7bb03",
        "group": "8352ff6457d9fdd1",
        "order": 6,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "pH",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 510,
        "y": 540,
        "wires": []
    },
    {
        "id": "697c30d25471ad6d",
        "type": "ui_text",
        "z": "b93d31edfbe7bb03",
        "group": "8352ff6457d9fdd1",
        "order": 8,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "EC",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 510,
        "y": 620,
        "wires": []
    },
    {
        "id": "2c76953e24a8035e",
        "type": "ui_chart",
        "z": "b93d31edfbe7bb03",
        "name": "",
        "group": "8352ff6457d9fdd1",
        "order": 3,
        "width": 6,
        "height": 4,
        "label": "EC",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 510,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "8b738f509919a4b2",
        "type": "ui_chart",
        "z": "b93d31edfbe7bb03",
        "name": "",
        "group": "8352ff6457d9fdd1",
        "order": 1,
        "width": 6,
        "height": 4,
        "label": "pH",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 510,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "09a4737aa08e3423",
        "type": "function",
        "z": "b93d31edfbe7bb03",
        "name": "function 24",
        "func": "msg.payload = msg.topic;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 820,
        "wires": [
            [
                "a5951c10d5269922"
            ]
        ]
    },
    {
        "id": "0f89caa38d1286a9",
        "type": "ui_text",
        "z": "b93d31edfbe7bb03",
        "group": "8352ff6457d9fdd1",
        "order": 5,
        "width": 12,
        "height": 1,
        "name": "",
        "label": "Kondisi Sekarang: ",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 730,
        "y": 680,
        "wires": []
    },
    {
        "id": "75c4b9c42a35f9f4",
        "type": "function",
        "z": "b93d31edfbe7bb03",
        "name": "water_level",
        "func": "const data = msg.payload;\nmsg.payload = data.water_level;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 740,
        "wires": [
            [
                "bb195edf1c6dcc26",
                "b651063c15d70d4c"
            ]
        ]
    },
    {
        "id": "bb195edf1c6dcc26",
        "type": "ui_text",
        "z": "b93d31edfbe7bb03",
        "group": "8352ff6457d9fdd1",
        "order": 9,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "Water Level",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 530,
        "y": 720,
        "wires": []
    },
    {
        "id": "b651063c15d70d4c",
        "type": "ui_chart",
        "z": "b93d31edfbe7bb03",
        "name": "",
        "group": "8352ff6457d9fdd1",
        "order": 4,
        "width": 6,
        "height": 4,
        "label": "Water Level",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 530,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "9df78fef5a9fa9fc",
        "type": "function",
        "z": "b93d31edfbe7bb03",
        "name": "function 36",
        "func": "msg.payload = 1;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 1820,
        "wires": [
            [
                "99a9e34f5a4a95bb"
            ]
        ]
    },
    {
        "id": "7652bdcf3409fc84",
        "type": "function",
        "z": "b93d31edfbe7bb03",
        "name": "function 37",
        "func": "msg.payload = 0;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 990,
        "y": 2180,
        "wires": [
            [
                "6bed87857fdbaded"
            ]
        ]
    },
    {
        "id": "5bcba160937a34f8",
        "type": "ui_template",
        "z": "b93d31edfbe7bb03",
        "group": "8352ff6457d9fdd1",
        "name": "",
        "order": 13,
        "width": 12,
        "height": 1,
        "format": "<a href=\"https://dashboard.greenhouse-project.my.id/api/scn/csv/28\" download=\"data.csv\">Download All SCN Data</a>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 360,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "1f10da899ef046b3",
        "type": "function",
        "z": "b93d31edfbe7bb03",
        "name": "function 38",
        "func": "var data= msg.payload;\nlet dataFixed = {};\n\nfunction convertUTCDateToLocalDate(dateIn) {\n    const date = new Date(dateIn);\n\n    date.setHours(date.getHours() - 7);\n    date.setDate(date.getDate()+0);\n\n\n    // now you can get the string\n    var isodate = date.toISOString();\n    return isodate;\n}\n\nconst tanam = convertUTCDateToLocalDate(data.tanam);\nconst semai = convertUTCDateToLocalDate(data.semai);\n\nmsg.payload = {\n    tanggalTanam: tanam,\n    tanggalSemai: semai,\n};\n\n\n\n\nreturn msg;\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 1860,
        "wires": [
            [
                "f6290898a905539b",
                "9df78fef5a9fa9fc",
                "3965597814ae578d"
            ]
        ]
    },
    {
        "id": "f6290898a905539b",
        "type": "debug",
        "z": "b93d31edfbe7bb03",
        "name": "debug 63",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 1820,
        "wires": []
    },
    {
        "id": "b93c930748606e7e",
        "type": "ui_template",
        "z": "b93d31edfbe7bb03",
        "group": "abcdb8ae7ffd1a6b",
        "name": "",
        "order": 4,
        "width": 0,
        "height": 0,
        "format": "<a href=\"https://dashboard.greenhouse-project.my.id/api/dataTanam/csv\" download=\"data.csv\">Download All Data Tanam</a>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 200,
        "y": 2360,
        "wires": [
            []
        ]
    },
    {
        "id": "a2b169545eb38f17",
        "type": "http request",
        "z": "b93d31edfbe7bb03",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://dashboard.greenhouse-project.my.id/api/lora/",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 390,
        "y": 4180,
        "wires": [
            [
                "9982f75c5bb32cb7"
            ]
        ]
    },
    {
        "id": "9982f75c5bb32cb7",
        "type": "debug",
        "z": "b93d31edfbe7bb03",
        "name": "debug 64",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 4160,
        "wires": []
    },
    {
        "id": "769a850d84a1159e",
        "type": "http request",
        "z": "b93d31edfbe7bb03",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://dashboard.greenhouse-project.my.id/api/scn",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 110,
        "y": 640,
        "wires": [
            [
                "771d9276405fb2e4"
            ]
        ]
    },
    {
        "id": "bc36eb542caa4d19",
        "type": "ui_switch",
        "z": "b93d31edfbe7bb03",
        "name": "",
        "label": "Kontrol Pompa Air",
        "tooltip": "",
        "group": "",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "str",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 970,
        "y": 680,
        "wires": [
            [
                "615626170e62b0bf",
                "c0553265d9de28ab"
            ]
        ]
    },
    {
        "id": "615626170e62b0bf",
        "type": "mqtt out",
        "z": "b93d31edfbe7bb03",
        "name": "",
        "topic": "skripsi/iot_greenhouse/akt/pompa/trigger",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "4e3c698d6efaab10",
        "x": 1400,
        "y": 720,
        "wires": []
    },
    {
        "id": "2477e508eff21746",
        "type": "ui_toast",
        "z": "b93d31edfbe7bb03",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1530,
        "y": 820,
        "wires": []
    },
    {
        "id": "c7fc1ebb23573279",
        "type": "mqtt in",
        "z": "b93d31edfbe7bb03",
        "name": "",
        "topic": "skripsi/iot_greenhouse/akt/pompa/feedback",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "4e3c698d6efaab10",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 940,
        "y": 760,
        "wires": [
            [
                "c0553265d9de28ab",
                "bc36eb542caa4d19"
            ]
        ]
    },
    {
        "id": "c0553265d9de28ab",
        "type": "function",
        "z": "b93d31edfbe7bb03",
        "name": "function 39",
        "func": "var data = msg.payload;\n\nif(data == 0){\n    msg.topic = \"Pompa\";\n    msg.payload = \"OFF\";\n    return msg;\n} else {\n    msg.topic = \"Pompa\";\n    msg.payload = \"ON\";\n    return msg;\n}\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1310,
        "y": 780,
        "wires": [
            [
                "2477e508eff21746"
            ]
        ]
    },
    {
        "id": "cea4c34f7501c5d5",
        "type": "ui_text",
        "z": "b93d31edfbe7bb03",
        "group": "8352ff6457d9fdd1",
        "order": 10,
        "width": 2,
        "height": 1,
        "name": "",
        "label": "Liter",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 510,
        "y": 860,
        "wires": []
    },
    {
        "id": "ad675ce91ad07e66",
        "type": "ui_button",
        "z": "b93d31edfbe7bb03",
        "g": "3eb314a1a7abd4e1",
        "name": "",
        "group": "7a2f2e41cd4506d7",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Uji FLC",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "Uji FLC",
        "topicType": "str",
        "x": 140,
        "y": 300,
        "wires": [
            [
                "c9f025aef2728da1"
            ]
        ]
    },
    {
        "id": "e4ec4af8fb4caa04",
        "type": "http request",
        "z": "b93d31edfbe7bb03",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://dashboard.greenhouse-project.my.id/api/dataSettingFLC",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 990,
        "y": 2980,
        "wires": [
            [
                "a64a92c3427078e6",
                "cf8438916c477589",
                "37f3dc46c304c6ae"
            ]
        ]
    },
    {
        "id": "a64a92c3427078e6",
        "type": "debug",
        "z": "b93d31edfbe7bb03",
        "name": "debug 66",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1360,
        "y": 3080,
        "wires": []
    },
    {
        "id": "37f3dc46c304c6ae",
        "type": "ui_button",
        "z": "b93d31edfbe7bb03",
        "name": "",
        "group": "b697ff41eda852f8",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "SHOW DATA",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 630,
        "y": 3300,
        "wires": [
            [
                "e8d9fd7317a10c97"
            ]
        ]
    },
    {
        "id": "e8d9fd7317a10c97",
        "type": "http request",
        "z": "b93d31edfbe7bb03",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://dashboard.greenhouse-project.my.id/api/dataSettingFLC/0",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 350,
        "y": 3420,
        "wires": [
            [
                "1e02370d4f11f8ac",
                "8be8d555ef123fae",
                "432a0587f7d643e6"
            ]
        ]
    },
    {
        "id": "bd7f90dde185ded3",
        "type": "ui_list",
        "z": "b93d31edfbe7bb03",
        "group": "b697ff41eda852f8",
        "name": "",
        "order": 1,
        "width": 8,
        "height": 8,
        "lineType": "two",
        "actionType": "none",
        "allowHTML": false,
        "outputs": 0,
        "topic": "",
        "x": 750,
        "y": 3380,
        "wires": []
    },
    {
        "id": "8be8d555ef123fae",
        "type": "function",
        "z": "b93d31edfbe7bb03",
        "name": "function 40",
        "func": "let arr =  msg.payload[0];\nlet listVal = [{}];\nconst key = Object.keys(arr);\n\n\nfor (let i = 0; i < key.length; i++) {\n    listVal[i] = { \"title\": key[i], \"description\" : arr[key[i]]};\n}\n\nmsg.payload = listVal;\n\nreturn msg\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 3380,
        "wires": [
            [
                "bd7f90dde185ded3"
            ]
        ]
    },
    {
        "id": "fa43b5a41d05955a",
        "type": "ui_button",
        "z": "b93d31edfbe7bb03",
        "name": "",
        "group": "331f999d527969ed",
        "order": 3,
        "width": 14,
        "height": 1,
        "passthru": false,
        "label": "{{topic}}",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{background}}",
        "className": "",
        "icon": "{{myicon}}",
        "payload": "open",
        "payloadType": "str",
        "topic": "control",
        "topicType": "str",
        "x": 90,
        "y": 2980,
        "wires": [
            [
                "1c54c05b38d60cf9"
            ]
        ]
    },
    {
        "id": "1c54c05b38d60cf9",
        "type": "function",
        "z": "b93d31edfbe7bb03",
        "name": "button logic",
        "func": "let payload=msg.payload;\nlet state=global.get(\"statusTanam\");\n// if(msg.topic==\"init\")\n// {\n//     state = \"open\";\n//     msg.payload = \"close\";\n//     msg.background = \"red\";\n//     msg.label = \"Press to Start\";\n//     msg.myicon = \"fa-toggle-off\";\n//     msg.topic=\"control\";\n//     return msg;\n// }\n//toggle\nif (typeof state == \"undefined\" || state==1)\n{\nstate=0;\nmsg.payload= \"close\";\nmsg.background = \"green\";\nmsg.label = \"START\";\nmsg.topic = \"status\";\nmsg.myicon = \"fa-play\";\n}\nelse{\nstate = 1;\nmsg.payload= \"open\";\nmsg.background = \"red\";\nmsg.label = \"END\";\nmsg.topic = \"status\";\nmsg.myicon=\"fa-stop\";\n}\nglobal.set(\"statusTanam\",state);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 2980,
        "wires": [
            [
                "5c0536451519a7eb",
                "a1bcf73f2c7c965e",
                "5e2dfd5279645ca7"
            ]
        ]
    },
    {
        "id": "5c0536451519a7eb",
        "type": "gate",
        "z": "b93d31edfbe7bb03",
        "name": "",
        "controlTopic": "control",
        "defaultState": "closed",
        "openCmd": "open",
        "closeCmd": "close",
        "toggleCmd": "toggle",
        "defaultCmd": "default",
        "statusCmd": "status",
        "persist": false,
        "storeName": "memoryOnly",
        "x": 410,
        "y": 3080,
        "wires": [
            [
                "a1bcf73f2c7c965e"
            ]
        ]
    },
    {
        "id": "a1bcf73f2c7c965e",
        "type": "debug",
        "z": "b93d31edfbe7bb03",
        "name": "debug 67",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 3240,
        "wires": []
    },
    {
        "id": "5e2dfd5279645ca7",
        "type": "change",
        "z": "b93d31edfbe7bb03",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "label",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 150,
        "y": 3040,
        "wires": [
            [
                "fa43b5a41d05955a",
                "c048d0257d447c7c",
                "b8bc7df2c8aa7070"
            ]
        ]
    },
    {
        "id": "c048d0257d447c7c",
        "type": "switch",
        "z": "b93d31edfbe7bb03",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "open",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "close",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 450,
        "y": 3000,
        "wires": [
            [
                "d308fbb139fe0e71"
            ],
            [
                "aa5f8ff8e93ee5d1"
            ]
        ]
    },
    {
        "id": "fba38ec6f749ffdc",
        "type": "function",
        "z": "b93d31edfbe7bb03",
        "name": "SET GLOBAL VARIABLE",
        "func": "global.set(\"idUjiFLC\", msg.payload.id);\nglobal.set(\"statusUjiFLC\", msg.payload.status);",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 3420,
        "wires": [
            []
        ]
    },
    {
        "id": "b8bc7df2c8aa7070",
        "type": "debug",
        "z": "b93d31edfbe7bb03",
        "name": "debug 68",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 140,
        "y": 3100,
        "wires": []
    },
    {
        "id": "aa5f8ff8e93ee5d1",
        "type": "function",
        "z": "b93d31edfbe7bb03",
        "name": "function 42",
        "func": "const status = global.get(\"idUjiFLC\");\nmsg.payload = status;\nmsg.topic = \"Akhiri Pengambilan Data\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 3080,
        "wires": [
            [
                "09ef2587196b7162"
            ]
        ]
    },
    {
        "id": "b99e3cddb027decf",
        "type": "http request",
        "z": "b93d31edfbe7bb03",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://dashboard.greenhouse-project.my.id/api/dataSettingFLCUpdate/{{{payload}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1250,
        "y": 3140,
        "wires": [
            [
                "70415ad9b9940a36",
                "f4fc9269bc3baea3"
            ]
        ]
    },
    {
        "id": "70415ad9b9940a36",
        "type": "debug",
        "z": "b93d31edfbe7bb03",
        "name": "debug 69",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1440,
        "y": 3140,
        "wires": []
    },
    {
        "id": "1e02370d4f11f8ac",
        "type": "function",
        "z": "b93d31edfbe7bb03",
        "name": "function 43",
        "func": "var data = msg.payload[0];\n\nmsg.payload = data\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 3420,
        "wires": [
            [
                "fba38ec6f749ffdc"
            ]
        ]
    },
    {
        "id": "cf8438916c477589",
        "type": "ui_toast",
        "z": "b93d31edfbe7bb03",
        "position": "top right",
        "displayTime": "5",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1340,
        "y": 2980,
        "wires": []
    },
    {
        "id": "09ef2587196b7162",
        "type": "ui_toast",
        "z": "b93d31edfbe7bb03",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "Yes",
        "cancel": "Cancel",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "Akhiri Penanaman",
        "x": 930,
        "y": 3080,
        "wires": [
            [
                "c2ab8d783abe9be4",
                "751fdd798f12ac92"
            ]
        ]
    },
    {
        "id": "c2ab8d783abe9be4",
        "type": "function",
        "z": "b93d31edfbe7bb03",
        "name": "function 44",
        "func": "const data = msg.payload;\n\nif(data == \"Yes\"){\n    const status = global.get(\"idUjiFLC\");\n    msg.payload = status;\n    return msg\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1070,
        "y": 3180,
        "wires": [
            [
                "8dc2652c0f9a07f9",
                "b99e3cddb027decf"
            ]
        ]
    },
    {
        "id": "f4fc9269bc3baea3",
        "type": "ui_toast",
        "z": "b93d31edfbe7bb03",
        "position": "top right",
        "displayTime": "5",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1360,
        "y": 3220,
        "wires": []
    },
    {
        "id": "751fdd798f12ac92",
        "type": "function",
        "z": "b93d31edfbe7bb03",
        "name": "function 45",
        "func": "let payload = msg.payload;\nlet state = global.get(\"statusUjiFLC\");\n\nif(payload == \"Cancel\") {\n    state = 1;\n    msg.payload = \"open\";\n    msg.background = \"red\";\n    msg.label = \"END\";\n    msg.topic = \"status\";\n    msg.myicon = \"fa-stop\";\n}\nglobal.set(\"statusUjiFLC\", state);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 3160,
        "wires": [
            [
                "5e2dfd5279645ca7"
            ]
        ]
    },
    {
        "id": "69e47971c99d25a9",
        "type": "ui_toast",
        "z": "b93d31edfbe7bb03",
        "position": "top right",
        "displayTime": "6",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 710,
        "y": 3460,
        "wires": []
    },
    {
        "id": "432a0587f7d643e6",
        "type": "function",
        "z": "b93d31edfbe7bb03",
        "name": "function 46",
        "func": "const data = msg.payload[0];\nif(data == null){\n    msg.payload = \"Tidak Ada Data Uji Berlangsung\";\n}else{\n    msg.payload = \"Sedang Dalam Pengujian\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 3460,
        "wires": [
            [
                "69e47971c99d25a9"
            ]
        ]
    },
    {
        "id": "439d10bf40a7168d",
        "type": "mqtt out",
        "z": "b93d31edfbe7bb03",
        "name": "",
        "topic": "skripsi/iot_greenhouse/flc/setting/trigger",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "4e3c698d6efaab10",
        "x": 1140,
        "y": 2900,
        "wires": []
    },
    {
        "id": "efe94f2520055ef9",
        "type": "mqtt out",
        "z": "b93d31edfbe7bb03",
        "name": "",
        "topic": "skripsi/iot_greenhouse/flc/setting/trigger",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "4e3c698d6efaab10",
        "x": 1240,
        "y": 3360,
        "wires": []
    },
    {
        "id": "d308fbb139fe0e71",
        "type": "function",
        "z": "b93d31edfbe7bb03",
        "name": "function 47",
        "func": "msg.payload = 1;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 2900,
        "wires": [
            [
                "439d10bf40a7168d"
            ]
        ]
    },
    {
        "id": "8dc2652c0f9a07f9",
        "type": "function",
        "z": "b93d31edfbe7bb03",
        "name": "function 48",
        "func": "msg.payload = 0;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1010,
        "y": 3280,
        "wires": [
            [
                "efe94f2520055ef9"
            ]
        ]
    },
    {
        "id": "4ca20a26a77130fc",
        "type": "ui_template",
        "z": "b93d31edfbe7bb03",
        "group": "",
        "name": "",
        "order": 2,
        "width": 8,
        "height": 1,
        "format": "<a href=\"https://dashboard.greenhouse-project.my.id/api/dataTanam/csv\" download=\"data.csv\">Download All Data Tanam</a>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 260,
        "y": 3520,
        "wires": [
            []
        ]
    },
    {
        "id": "d318c3ac9f730c07",
        "type": "ui_list",
        "z": "b93d31edfbe7bb03",
        "group": "331f999d527969ed",
        "name": "",
        "order": 1,
        "width": 7,
        "height": 7,
        "lineType": "two",
        "actionType": "none",
        "allowHTML": false,
        "outputs": 0,
        "topic": "",
        "x": 610,
        "y": 2860,
        "wires": []
    },
    {
        "id": "be4246cb3ae106ce",
        "type": "mqtt in",
        "z": "b93d31edfbe7bb03",
        "name": "",
        "topic": "skripsi/iot_greenhouse/scn/flc/json",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "4e3c698d6efaab10",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 2860,
        "wires": [
            [
                "14991e1191f1c676"
            ]
        ]
    },
    {
        "id": "14991e1191f1c676",
        "type": "function",
        "z": "b93d31edfbe7bb03",
        "name": "function 50",
        "func": "let arr =  msg.payload;\nlet listVal = [{}];\nconst key = Object.keys(arr);\n\n\nfor (let i = 0; i < key.length; i++) {\n    listVal[i] = { \"title\": key[i], \"description\" : arr[key[i]]};\n}\n\nmsg.payload = listVal;\n\nreturn msg\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 2860,
        "wires": [
            [
                "d318c3ac9f730c07"
            ]
        ]
    },
    {
        "id": "262f202ea839cbff",
        "type": "function",
        "z": "b93d31edfbe7bb03",
        "name": "function 30",
        "func": "var data = msg.payload[0];\n\nfunction convertUTCDateToLocalDate(dateIn) {\n    const date = new Date(dateIn);\n\n    date.setHours(date.getHours() + 7);\n    date.setDate(date.getDate() + 0);\n\n\n    // now you can get the string\n    var isodate = date.toISOString();\n    return isodate;\n}\n\ndata.tanggal_semai = convertUTCDateToLocalDate(data.tanggal_semai);\ndata.tanggal_tanam = convertUTCDateToLocalDate(data.tanggal_tanam);\n\nif(data == null){\n    msg.payload = {\n        id: \"-\"\n    }\n}\nelse{\n    if (data.status == 0) {\n            msg.payload = {\n                id: data.id,\n                tanggal_semai: (new Date(data.tanggal_semai)).toISOString().substring(0, 10),\n                tanggal_tanam: (new Date(data.tanggal_tanam)).toISOString().substring(0, 10),\n                tanggal_panen: \"-\",\n                status: \"on going\"\n            }\n        } else {\n            msg.payload = data\n        }\n}\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 2220,
        "wires": [
            [
                "9d0f357e1227c5d4"
            ]
        ]
    },
    {
        "id": "acbc299a8c8cb605",
        "type": "debug",
        "z": "b93d31edfbe7bb03",
        "name": "debug 65",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 2840,
        "wires": []
    },
    {
        "id": "07bf0b4b75c84aa3",
        "type": "mqtt in",
        "z": "b93d31edfbe7bb03",
        "name": "",
        "topic": "skripsi/iot_greenhouse/flc/ujiData/json",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "4e3c698d6efaab10",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 3180,
        "wires": [
            [
                "241eb56ad91d8417",
                "585b8701c6aa86fe"
            ]
        ]
    },
    {
        "id": "877cacb243414703",
        "type": "mqtt in",
        "z": "b93d31edfbe7bb03",
        "name": "",
        "topic": "skripsi/iot_greenhouse/flc/setting/json",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "4e3c698d6efaab10",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 710,
        "y": 3000,
        "wires": [
            [
                "e4ec4af8fb4caa04",
                "dfbadb5a6c07f253"
            ]
        ]
    },
    {
        "id": "241eb56ad91d8417",
        "type": "http request",
        "z": "b93d31edfbe7bb03",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://dashboard.greenhouse-project.my.id/api/ujiFLC",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 350,
        "y": 3300,
        "wires": [
            [
                "1d362f83a09b71b4"
            ]
        ]
    },
    {
        "id": "1d362f83a09b71b4",
        "type": "debug",
        "z": "b93d31edfbe7bb03",
        "name": "debug 70",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 3540,
        "wires": []
    },
    {
        "id": "dfbadb5a6c07f253",
        "type": "debug",
        "z": "b93d31edfbe7bb03",
        "name": "debug 71",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 2800,
        "wires": []
    },
    {
        "id": "02b9f434eacdf645",
        "type": "ui_list",
        "z": "b93d31edfbe7bb03",
        "group": "331f999d527969ed",
        "name": "After",
        "order": 2,
        "width": 7,
        "height": 7,
        "lineType": "two",
        "actionType": "none",
        "allowHTML": false,
        "outputs": 0,
        "topic": "",
        "x": 130,
        "y": 3420,
        "wires": []
    },
    {
        "id": "585b8701c6aa86fe",
        "type": "function",
        "z": "b93d31edfbe7bb03",
        "name": "function 51",
        "func": "let arr =  msg.payload;\nlet listVal = [{}];\nconst key = Object.keys(arr);\n\n\nfor (let i = 0; i < key.length; i++) {\n    listVal[i] = { \"title\": key[i], \"description\" : arr[key[i]]};\n}\n\nmsg.payload = listVal;\n\nreturn msg\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 110,
        "y": 3320,
        "wires": [
            [
                "02b9f434eacdf645"
            ]
        ]
    },
    {
        "id": "37befdb601440ea1",
        "type": "ui_button",
        "z": "b93d31edfbe7bb03",
        "name": "",
        "group": "331f999d527969ed",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "INIT",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "control",
        "topicType": "str",
        "x": 110,
        "y": 2760,
        "wires": [
            [
                "f79c92540733d576"
            ]
        ]
    },
    {
        "id": "cd8f372a5a841707",
        "type": "mqtt out",
        "z": "b93d31edfbe7bb03",
        "name": "",
        "topic": "skripsi/iot_greenhouse/startPump",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "4e3c698d6efaab10",
        "x": 740,
        "y": 2760,
        "wires": []
    },
    {
        "id": "f79c92540733d576",
        "type": "ui_toast",
        "z": "b93d31edfbe7bb03",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "Yes",
        "cancel": "Cancel",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "Akhiri Penanaman",
        "x": 290,
        "y": 2760,
        "wires": [
            [
                "2e23780008a976d2"
            ]
        ]
    },
    {
        "id": "2e23780008a976d2",
        "type": "function",
        "z": "b93d31edfbe7bb03",
        "name": "function 52",
        "func": "const data = msg.payload;\n\nif(data == \"Yes\"){\n    msg.payload = 1;\n    return msg\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 2760,
        "wires": [
            [
                "cd8f372a5a841707"
            ]
        ]
    },
    {
        "id": "4937a8902628b7e9",
        "type": "ui_text",
        "z": "b93d31edfbe7bb03",
        "group": "8352ff6457d9fdd1",
        "order": 11,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "HST",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 610,
        "y": 60,
        "wires": []
    },
    {
        "id": "5a2b119070d54989",
        "type": "http request",
        "z": "b93d31edfbe7bb03",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://dashboard.greenhouse-project.my.id/api/dataHariKe",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 270,
        "y": 60,
        "wires": [
            [
                "89da5e49e7ea8735"
            ]
        ]
    },
    {
        "id": "89da5e49e7ea8735",
        "type": "function",
        "z": "b93d31edfbe7bb03",
        "name": "function 53",
        "func": "let arr = msg.payload\n msg.payload = arr.msg\n\n\n\nreturn msg\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 60,
        "wires": [
            [
                "4937a8902628b7e9"
            ]
        ]
    },
    {
        "id": "5d9ff75f02161856",
        "type": "inject",
        "z": "b93d31edfbe7bb03",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 40,
        "wires": [
            [
                "5a2b119070d54989"
            ]
        ]
    },
    {
        "id": "3ff3ee8aaf56b973",
        "type": "ui_button",
        "z": "b93d31edfbe7bb03",
        "name": "",
        "group": "8352ff6457d9fdd1",
        "order": 14,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "RESTART",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "RESTART ESP",
        "topicType": "str",
        "x": 90,
        "y": 920,
        "wires": [
            [
                "0ed56f7916ee3da7"
            ]
        ]
    },
    {
        "id": "6d2454e53cf31348",
        "type": "mqtt out",
        "z": "b93d31edfbe7bb03",
        "name": "",
        "topic": "skripsi/iot_greenhouse/scn/restart",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "4e3c698d6efaab10",
        "x": 860,
        "y": 940,
        "wires": []
    },
    {
        "id": "0ed56f7916ee3da7",
        "type": "ui_toast",
        "z": "b93d31edfbe7bb03",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "Yes",
        "cancel": "Cancel",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "Restart ESP32",
        "x": 280,
        "y": 920,
        "wires": [
            [
                "4cb6d8c5cd52a65e"
            ]
        ]
    },
    {
        "id": "4cb6d8c5cd52a65e",
        "type": "function",
        "z": "b93d31edfbe7bb03",
        "name": "function 54",
        "func": "const data = msg.payload;\n\nif(data == \"Yes\"){\n    msg.payload = 1;\n    return msg\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 920,
        "wires": [
            [
                "6d2454e53cf31348"
            ]
        ]
    },
    {
        "id": "92e010ede9338c1c",
        "type": "mqtt in",
        "z": "b93d31edfbe7bb03",
        "name": "",
        "topic": "skripsi/iot_greenhouse/scn/setup",
        "qos": "2",
        "datatype": "utf8",
        "broker": "4e3c698d6efaab10",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 980,
        "wires": [
            [
                "e81d4e300d1f538b",
                "911e864b862c7e90"
            ]
        ]
    },
    {
        "id": "e81d4e300d1f538b",
        "type": "ui_toast",
        "z": "b93d31edfbe7bb03",
        "position": "top right",
        "displayTime": "5",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "Setup ESP32",
        "x": 440,
        "y": 980,
        "wires": []
    },
    {
        "id": "911e864b862c7e90",
        "type": "debug",
        "z": "b93d31edfbe7bb03",
        "name": "debug 73",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 260,
        "y": 1040,
        "wires": []
    },
    {
        "id": "27752dcc3a2b9063",
        "type": "ui_button",
        "z": "b93d31edfbe7bb03",
        "name": "",
        "group": "8352ff6457d9fdd1",
        "order": 15,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "PUMP ON",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "str",
        "topic": "Manual Pump On",
        "topicType": "str",
        "x": 810,
        "y": 1020,
        "wires": [
            [
                "74af06b987dbaf30"
            ]
        ]
    },
    {
        "id": "0624cbdfca45e13f",
        "type": "mqtt out",
        "z": "b93d31edfbe7bb03",
        "name": "",
        "topic": "skripsi/iot_greenhouse/scn/manualPump",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "4e3c698d6efaab10",
        "x": 1360,
        "y": 940,
        "wires": []
    },
    {
        "id": "74af06b987dbaf30",
        "type": "ui_toast",
        "z": "b93d31edfbe7bb03",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "Yes",
        "cancel": "Cancel",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "Manual Pump On",
        "x": 990,
        "y": 1020,
        "wires": [
            [
                "ef1d4d6d92ae4399"
            ]
        ]
    },
    {
        "id": "ef1d4d6d92ae4399",
        "type": "function",
        "z": "b93d31edfbe7bb03",
        "name": "function 55",
        "func": "const data = msg.payload;\n\nif(data == \"Yes\"){\n    msg.payload = 1;\n    return msg\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1110,
        "y": 980,
        "wires": [
            [
                "0624cbdfca45e13f"
            ]
        ]
    },
    {
        "id": "acd91e5db71fb281",
        "type": "ui_list",
        "z": "b93d31edfbe7bb03",
        "group": "35b8fc783f5a7848",
        "name": "",
        "order": 2,
        "width": 8,
        "height": 14,
        "lineType": "two",
        "actionType": "none",
        "allowHTML": false,
        "outputs": 0,
        "topic": "",
        "x": 1570,
        "y": 420,
        "wires": []
    },
    {
        "id": "2cf9d4d9690ce744",
        "type": "http request",
        "z": "b93d31edfbe7bb03",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://dashboard.greenhouse-project.my.id/api//dataHistoryPompaJson/{{{payload}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 850,
        "y": 420,
        "wires": [
            [
                "e2cbc61b47e5d5f2"
            ]
        ]
    },
    {
        "id": "c8f558f0a7b8f237",
        "type": "function",
        "z": "b93d31edfbe7bb03",
        "name": "function 56",
        "func": "\n\n    const status = global.get(\"idDataTanam\");\n    msg.payload = status;\n    return msg\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 420,
        "wires": [
            [
                "2cf9d4d9690ce744"
            ]
        ]
    },
    {
        "id": "dc826b60071a0790",
        "type": "ui_dropdown",
        "z": "b93d31edfbe7bb03",
        "name": "",
        "label": "History by ID",
        "tooltip": "",
        "place": "Select option",
        "group": "35b8fc783f5a7848",
        "order": 1,
        "width": 8,
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "",
                "value": "",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 1210,
        "y": 420,
        "wires": [
            [
                "093b3ca4414a1658"
            ]
        ]
    },
    {
        "id": "e2cbc61b47e5d5f2",
        "type": "function",
        "z": "b93d31edfbe7bb03",
        "name": "function 57",
        "func": "let arr = msg.payload\nlet arrJs = [];\n\n\nfor (let i = 0; i < arr.length; i++) {\n    let tempJs = {};\n    tempJs[arr[i].id] = arr[i];\n    arrJs[i] = tempJs;\n}\n\nmsg.payload = 1;\nmsg.options = arrJs;\n\nreturn msg\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 420,
        "wires": [
            [
                "dc826b60071a0790"
            ]
        ]
    },
    {
        "id": "093b3ca4414a1658",
        "type": "function",
        "z": "b93d31edfbe7bb03",
        "name": "function 58",
        "func": "let arr =  msg.payload;\nlet listVal = [{}];\nconst key = Object.keys(arr);\n\n\nfor (let i = 1; i < key.length; i++) {\n    listVal[i-1] = { \"title\": key[i], \"description\" : arr[key[i]]};\n}\n\nmsg.payload = listVal;\n\nreturn msg\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1390,
        "y": 420,
        "wires": [
            [
                "acd91e5db71fb281"
            ]
        ]
    },
    {
        "id": "ad43029bb12d8aca",
        "type": "mqtt in",
        "z": "b93d31edfbe7bb03",
        "name": "",
        "topic": "skripsi/iot_greenhouse/flc/history/json",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "4e3c698d6efaab10",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 530,
        "y": 1660,
        "wires": [
            [
                "9c1324738ab3774b"
            ]
        ]
    },
    {
        "id": "9c1324738ab3774b",
        "type": "http request",
        "z": "b93d31edfbe7bb03",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://dashboard.greenhouse-project.my.id/api/dataHistoryPompa",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 890,
        "y": 1660,
        "wires": [
            []
        ]
    },
    {
        "id": "10c75735dd26b3c3",
        "type": "ui_text",
        "z": "b93d31edfbe7bb03",
        "group": "8352ff6457d9fdd1",
        "order": 12,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "flagFLC",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 320,
        "y": 400,
        "wires": []
    },
    {
        "id": "51a3b6cc7d37fa0c",
        "type": "function",
        "z": "b93d31edfbe7bb03",
        "name": "flagFLC",
        "func": "const data = msg.payload;\nmsg.payload = data.flagFLC;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 440,
        "wires": [
            [
                "10c75735dd26b3c3"
            ]
        ]
    },
    {
        "id": "10ed78709c248bc5",
        "type": "ui_spacer",
        "z": "b93d31edfbe7bb03",
        "name": "spacer",
        "group": "",
        "order": 2,
        "width": 12,
        "height": 1
    },
    {
        "id": "ddbb4e8e4d9e1358",
        "type": "ui_spacer",
        "z": "b93d31edfbe7bb03",
        "name": "spacer",
        "group": "",
        "order": 3,
        "width": 12,
        "height": 1
    },
    {
        "id": "6286e4a8fe72ba2b",
        "type": "ui_spacer",
        "z": "b93d31edfbe7bb03",
        "name": "spacer",
        "group": "",
        "order": 4,
        "width": 12,
        "height": 1
    },
    {
        "id": "74f67759813a5e0f",
        "type": "ui_spacer",
        "z": "b93d31edfbe7bb03",
        "name": "spacer",
        "group": "",
        "order": 5,
        "width": 12,
        "height": 1
    },
    {
        "id": "d53a2e955e0852c3",
        "type": "ui_spacer",
        "z": "b93d31edfbe7bb03",
        "name": "spacer",
        "group": "",
        "order": 6,
        "width": 12,
        "height": 1
    },
    {
        "id": "f8061d50a842f638",
        "type": "ui_spacer",
        "z": "b93d31edfbe7bb03",
        "name": "spacer",
        "group": "",
        "order": 7,
        "width": 12,
        "height": 1
    },
    {
        "id": "b2fd69f02c426060",
        "type": "ui_spacer",
        "z": "b93d31edfbe7bb03",
        "name": "spacer",
        "group": "",
        "order": 8,
        "width": 12,
        "height": 1
    },
    {
        "id": "fe6131014df17d01",
        "type": "ui_spacer",
        "z": "b93d31edfbe7bb03",
        "name": "spacer",
        "group": "",
        "order": 9,
        "width": 12,
        "height": 1
    },
    {
        "id": "a0d99dfc9fadbac9",
        "type": "ui_spacer",
        "z": "b93d31edfbe7bb03",
        "name": "spacer",
        "group": "8293a78a191dd3d7",
        "order": 2,
        "width": 8,
        "height": 1
    },
    {
        "id": "40e9bef84695c4bc",
        "type": "ui_spacer",
        "z": "b93d31edfbe7bb03",
        "name": "spacer",
        "group": "8293a78a191dd3d7",
        "order": 3,
        "width": 8,
        "height": 1
    },
    {
        "id": "bc8239aa6dd16702",
        "type": "ui_spacer",
        "z": "b93d31edfbe7bb03",
        "name": "spacer",
        "group": "8293a78a191dd3d7",
        "order": 4,
        "width": 8,
        "height": 1
    },
    {
        "id": "4e3c698d6efaab10",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "8293a78a191dd3d7",
        "type": "ui_group",
        "name": "Display Param",
        "tab": "3b1b23c2b85e3dfb",
        "order": 2,
        "disp": true,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "dd116dcad9e28d42",
        "type": "ui_group",
        "name": "Edit Param",
        "tab": "3b1b23c2b85e3dfb",
        "order": 3,
        "disp": true,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "8b40c4a4b3c59af3",
        "type": "ui_group",
        "name": "Lora Data",
        "tab": "0a890d1e9d77f555",
        "order": 1,
        "disp": true,
        "width": "25",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7a2f2e41cd4506d7",
        "type": "ui_group",
        "name": "Main Menu",
        "tab": "5019cda4885a6303",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "abcdb8ae7ffd1a6b",
        "type": "ui_group",
        "name": "Setting",
        "tab": "507fab57619510d7",
        "order": 2,
        "disp": true,
        "width": 10,
        "collapse": false,
        "className": ""
    },
    {
        "id": "c6389b586e2679b5",
        "type": "ui_group",
        "name": "Progress",
        "tab": "507fab57619510d7",
        "order": 1,
        "disp": true,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "8352ff6457d9fdd1",
        "type": "ui_group",
        "name": "Greenhouse A",
        "tab": "8512ab359f8b1217",
        "order": 2,
        "disp": true,
        "width": 12,
        "collapse": false,
        "className": ""
    },
    {
        "id": "b697ff41eda852f8",
        "type": "ui_group",
        "name": "Progress",
        "tab": "1756bdc6a24a9a55",
        "order": 1,
        "disp": true,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "331f999d527969ed",
        "type": "ui_group",
        "name": "Setting",
        "tab": "1756bdc6a24a9a55",
        "order": 2,
        "disp": true,
        "width": 14,
        "collapse": false,
        "className": ""
    },
    {
        "id": "35b8fc783f5a7848",
        "type": "ui_group",
        "name": "History Pompa",
        "tab": "8512ab359f8b1217",
        "order": 3,
        "disp": true,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "3b1b23c2b85e3dfb",
        "type": "ui_tab",
        "name": "Lora",
        "icon": "dashboard",
        "order": 5,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "0a890d1e9d77f555",
        "type": "ui_tab",
        "name": "Lora",
        "icon": "dashboard",
        "order": 5,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "5019cda4885a6303",
        "type": "ui_tab",
        "name": "Main",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "507fab57619510d7",
        "type": "ui_tab",
        "name": "Setup Tanam",
        "icon": "dashboard",
        "order": 5,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "8512ab359f8b1217",
        "type": "ui_tab",
        "name": "Greenhouse",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "1756bdc6a24a9a55",
        "type": "ui_tab",
        "name": "Uji FLC",
        "icon": "dashboard",
        "order": 8,
        "disabled": false,
        "hidden": false
    }
]